body{
background-image: url(../Images/pexels-thisisengineering-3861969.jpg);
background-repeat: no-repeat;
background-size: cover;


}
h1{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}
div{
    text-align: center;
}
button{
    height: 50px;
    width: 300px;
    font-size: 25px;
    
}